.bg-translucent {
  background-color: rgba(230, 230, 230, 0.85) !important;
}

.navbar .nav-link {
    color: #000000 !important;
  }
  .navbar .nav-link.active {
    color: #00006e !important;
  }
mark[data-search-highlight] {
    background: yellow;
    padding: 0 2px;
  }